@tailwind base;

@tailwind components;

@tailwind utilities;

.inconsolata {
    font-family: 'Inconsolata', monospace;
}

.open-sans {
    font-family: 'Open Sans', Arial, sans-serif;
}

.social-icon {
    height: 28px;
    width: 28px;
    margin: 10px;
}