@tailwind base;

@tailwind components;

@tailwind utilities;

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.inconsolata {
    font-family: 'Inconsolata', monospace;
}

.open-sans {
    font-family: 'Open Sans', Arial, sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.rounded-xl {
    border-radius: 1.2rem;
}

.social-icon {
    height: 28px;
    width: 28px;
    margin: 10px;
}

.w-36rem {
    width:36rem;
}

#section0 {
    background: rgb(72,215,162);
    background: linear-gradient(0deg, rgba(72,215,162,1) 0%, rgba(255,246,133,1) 100%); 
}

#section1 {
    background: rgb(14,113,200);
    background: linear-gradient(0deg, rgb(14,113,200) 0%, rgba(72,215,162,1) 100%);
}

#section2 {
    background: rgb(165,81,246);
    background: linear-gradient(0deg, rgba(165,81,246,1) 0%, rgba(14,113,200,1) 100%);
}

#section3 {
    background: rgb(255,246,133);
    background: linear-gradient(0deg, rgba(255,246,133,1) 0%, rgba(165,81,246,1) 100%); 
}

#section4 {
    background: rgb(255,77,76);
    background: linear-gradient(0deg, rgba(255,77,76,1) 0%, rgba(255,246,133,1) 95%);
}

.skew-right {
    transform: skewX(-3deg);
}